body {
  width: 100%;
  height: 10vh;
  margin: 0;
  background-color: #5c4742;
  color: #c4bbaf;
  font-family: tahoma;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

fieldset {
  border: none;
  border-bottom: 4px double #8d5b4c
  padding: 2rem 0;
}

fieldseet:last-of-type {
  boorder-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  /*REM = font spacing*/
}

input, textarea, select {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
  margin-top: 10px;
}

input, textarea {
  background-color: #a5978b;
  border: #a5978b;
  color: #5a2a27;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input [type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto;
}
