#
/*NAVBAR CONTAINER*/
.navbar {
    overflow: hidden;
    background-color: #878E88;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*LINKS INSIDE NAVBAR*/
.navbar a{
    float: center;
    font-size: 30px;
    color: #725752;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    border-bottom: 1px solid #725752;
}

/*ADD BACKGROUND COLOR ON LINKS FOR A HOVER*/
.navbar a:hover{
    background-color: #D4DFC7;
}

.logo-navbar a{
    float: right;
    border-bottom: none;
}

.logo-navbar {
    img {
        width:50px;
        height:50px;
        object-fit: contain;
    }
}