
/*NAVBAR CONTAINER*/
.navbar {
    overflow: hidden;
    background-color: #5C6F68;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*LINKS INSIDE NAVBAR*/
.navbar a{
    float: left;
    font-size: 30px;
    color: #878E88;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    border-bottom: 1px solid #725752;
}

/*ADD BACKGROUND COLOR ON LINKS FOR A HOVER*/
.navbar a:hover{
    background-color: #D4DFC7;
}

.logo-navbar a{
    float: right;
    border-bottom: none;
}

.logo-navbar {
    img {
        width:50px;
        height:50px;
        object-fit: contain;
    }
}

body {
    background-color: #5C6F68;
}

.opening {
    font-family: 'Courier New', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid #3333;
}

h1 {
    font-size: 70px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(13) infinite alternate, blink 800ms steps(13) infinite normal;
    border-right: 5px solid #333;
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
}


/*TEXT INSIDE OPENING*/
.opening a{
    font-size: 20px;
    float: left;
}

.contact-photo {
    overflow: hidden;
    background-color: #3333;
    font-family: 'Gill Sans';
    display: inline-flex;
}

.contact-photo {
    .center-text {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
}

.contact-photo a{
    float: left;
    font-size: 30px;
    color: #95D9C3;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

.contact-photo {
    p {
        font-size: 25px;
        color: #95D9C3;
        text-align: left;
        vertical-align: middle;
    }
}

.contact-photo {
    img {
        height: 490px;
        width: 409px;
        object-fit: contain;
        float: right;
        img-align: center;
        vertical-align: middle;
    }
}
    
