
/*NAVBAR CONTAINER*/
.navbar {
    overflow: hidden;
    background-color: #5C6F68;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*LINKS INSIDE NAVBAR*/
.navbar a{
    float: left;
    font-size: 20px;
    color: #95D9C3;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

/*ADD BACKGROUND COLOR ON LINKS FOR A HOVER*/
.navbar a:hover{
    background-color: darkcyan;
}

.center-navbar a{
    float: right;
}

body {
    background-color: #8AA39B;
}

.opening {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 75px;
    color: #A4F9C8;
}

/*TEXT INSIDE OPENING*/
.opening a{
    font-size: 20px;
    float: left;
}

.lines {
    width: 400px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lines::before{
    content: "";
    position:absolute;
    top:0%;
    left:0%;
    width:100%
    height:100%;
    background: white;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        left:0;
    }
    50%{
        left:100;
    }
    0%{
        left:0;
    }
}
