body {
    background-image: url("IMG_0808.jpeg");
}
h1, h2, p {
  text-align: center;
  color: #E0DFD5;
}
.gym {
    width: 80%;
    background-color: #313638;
    margin-right: auto;
    margin-left: auto;
}
.set p {
    display: inline-block;
}
.lower, .push {
    text-align: left;
    width: 75%;
}
.muscle {
    text-align: right;
    width: 25%;
}
