header{

}

img{
  max-width: 100%;
}

.banner{
  position: relative;
}

.banner .welcome{
  position: absolute;
  left: 0;
  top: 16rem;
}

.banner .cover-photo{
  width: 30rem;
  height: auto;
  left: 50rem;
}
