@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    #dcf2b0, #c2eabd, #c0babc, #c7ac92, #cd533b);
  --transparent-light-color: rgba(255,255,255,.05);
  --transparent-dark-color: rgba(0,0,0,.75);
  --font-family: 'Sedgwick Ave Display', 'sans-serif';
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xlg: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

*{
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

html{
  /* font-size: 10px; */
  font-size: 62.5%;
}

body{
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
}
