body {
    background-image: IMG_7638.jpeg;
}
h1, h2, p {
    text-align: center;
}
.schedule {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    background-overflow: hidden;
}
