h1 {
  text-align: center;
}
.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}
.red {
  background-color:red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
