body {
  background-color: rgb(102,73,58);
}

h1, h2, h3{
  text-align: center;
  font-family: sans-serif;
}

.container {
  background-color: #66493a;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.primary, .secondary, .tertiary {
  border: 3px solid;
  margin: 10px;
  background: linear-gradient(90deg,#ba8c63, #99755a, #87633a);
}

.cap {
  width:60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255,255,255,50%);
  border-left: 10px double rgba(0,0,0,75%);
  border-right: 10px double rgba(0,0,0,0.75);
}

.sleeve, .cap {
  display: inline-block;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,80%);
}
.red {
  background: linear-gradient(rgb(122,74,14),rgb(245,62,113),rgb(162,27,27));
}
.green {
  background: linear-gradient(#55680D,#71F53E,#116C31);
}
.blue {
  background: linear-gradient(hsl(186,76%,16%),hsl(223,90%,60%),hsl(240,56%,42%));
}

.yellow {
  background: linear-gradient(rgb(77,77,52),rgb(242,242,99),rgb(43,43,18));
}

.cyan {
  background: linear-gradient(#213636,#3bf7f7,#154545);
}

.magenta {
  background: linear-gradient(hsl(300,21%,27%),hsl(300,85%,61%),hsl(300,52%,30%));
}
